<div class="modal-overlay" (click)="closeModal()">
  <div class="modal" (click)="$event.stopPropagation()">
    <div class="modal_header">
      <h2>{{ plantTitle }}</h2>
      <button class="btn_alt padding" (click)="closeModal()">&#10006;</button>
    </div>
    <div class="modal_content">
      <div class="modal_img_wrapper">
        <img src="/slider/card1.png" alt="" loading="lazy" class="modal_img" />
      </div>
      <article class="modal_text_wrapper">
        <article class="nav">
          <a (click)="ContentSwitch(1)">один</a>
          <a (click)="ContentSwitch(2)">два</a>
          <a (click)="ContentSwitch(3)">три</a>
          <a (click)="ContentSwitch(4)">четыре</a>
          <a (click)="ContentSwitch(5)">пять</a>
        </article>
        <app-test1 *ngIf="CurrentTab()===1"></app-test1>
        <app-test2 *ngIf="CurrentTab()===2"></app-test2>
        <app-test3 *ngIf="CurrentTab()===3"></app-test3>
        <app-test4 *ngIf="CurrentTab()===4"></app-test4>
        <app-test5 *ngIf="CurrentTab()===5"></app-test5>
		<button class="btn">Купить</button>
      </article>
    </div>
  </div>
</div>
