<router-outlet></router-outlet>
<footer>
  <div class="footer_ul">
    <a class="icon_link" routerLink="">
      <img [src]="icon_yt | imgPath" class="footer_svg" alt="yt" />
    </a>

    <a class="icon_link" routerLink="">
      <img [src]="icon_inst | imgPath" class="footer_svg" alt="inst" />
    </a>

    <a class="icon_link" routerLink="">
      <img [src]="icon_Fb | imgPath" class="footer_svg" alt="fb" />
    </a>

    <a class="icon_link" routerLink="">
      <img [src]="icon_x | imgPath" class="footer_svg" alt="x" />
    </a>
  </div>
</footer>

<!-- CREDITS -->
<div class="credits">
  <span>f&b ® 2020</span>
</div>


